<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block título %}{% endblock título %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='simple.css')}}">
</head>


<body>
    <header>

        <h1>To-Do List em Flask</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/todo/">to-do list</a>
            <a href="/cadastro/">cadastro</a>
            <a href="/login/">login</a>
            <a href="/logout/">logout</a>
            <a href="/admin/">Admin</a>
        </nav>

    </header> 

    <main>
        
        {% block conteúdo %}
        
        {% endblock conteúdo %}

    </main>
</body>

</html>