{% extends 'base.html' %}


{% block título %}
    TO-DO
{% endblock título %}


{% block conteúdo %}

    <p>


        <form action="/todo/add/" method="post">
            <input type="text" name="descrição" placeholder="nova tarefa" required>
            <button type="submit">Salvar</button>
        </form>
    </p>

    <table>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Completa</th>
            <th></th>
            <th></th>
        </tr>

        {% for tarefa in lista_de_tarefas %}
            <tr>
                <td>{{ tarefa.id }}</td>
                <td>{{ tarefa.descrição }}</td>
                <td>{{ tarefa.completa }}</td>
                <td><a href="/todo/{{ tarefa.id }}/check/">Atualizar</a></td>
                <td><a href="/todo/{{ tarefa.id }}/delete/">Apagar</a></td>
            </tr>            
        {% endfor %}

    </table>
{% endblock conteúdo %}